body, html{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: lightgrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

#container{
    display: grid;
    grid-template-columns: 50vh 90vh 1fr;
    height: 100vh;
}

#container #firstside{
    background-color: black;
    border-right:0.5px solid grey;
    justify-items: center;
}

#container #firstside ul{
    list-style-type: none;
    display: block;
    align-content: center;
    position: fixed;
}
#container #firstside ul li{
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
#container #firstside ul li i{
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    size: 25px;
    margin-right: 25px;
}
#container #firstside ul li img{
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin-left: 13px;
    margin-right: 20px;
}
button{
    display: block;
    border-radius: 100px;
    width: 80%;
    border: 1px solid ;
    background-color: #1da1f2;
    color: white;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;

}
#secondside{
    grid-template-columns: 1/2;
    background-color: black;  
    border-right: 1px solid grey;
}

#home{
    margin: 10px;
    color: lightgrey;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#mainpic{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 15px;
}
#text{
    background-color: black;
    width: 500px;
    font-size: 20px;
    font-weight: bold;
    border: none; 
    margin-top: -89px;
    height: 60px; 
}
#secondside #icons #gifs{
    display: inline-flex;
    color: #1da1f2;
}

#secondside #icons #gifs li{
    justify-content: space-between;
    list-style-type: none;
    margin-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

#twicon{
    display: block;
    border-radius: 100px;
    width: 60px;
    border: 1px solid ;
    background-color: #1da1f2;
    color: white;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    float: right;
}
#empty{
    width: 100%;
    height: 10px;
    background-color: grey;
}
#user{
    display: flex;
}
#user img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    margin-right: 25px;
    margin-top: 10px;
}

#tweet{
    width: 77%;
    margin: -17px;
    margin-left: 70px;
    margin-top: -6px;
    font-weight: 350;
    font-size: 16px;

}
#secondside #bottomicon{
    list-style-type: none;
    display: inline-flex;
}
#secondside #bottomicon li{
    justify-content: space-around;
    margin: 40px;
    margin-bottom: -20px;
}

#thirdside{
    background-color: black;
    grid-template-columns: 2 / -1;
}

#thirdside input{
    margin: 25px;
    width: 80%;
    background-color: #383838;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid #383838;
    font-size: 18px;
}
#thirdside #trends{
    height: 65% !important;
    width: 80%;
    background-color: #383838;
    margin: 25px;
    margin-top: -2px;
    border-radius: 3%;
}

#thirdside #trends #setting{
    justify-content: space-between;
    display: flex;
}

#setting p{
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 2px;
}
#setting i{
    margin-right: 20px;
    margin-top: 20px;
    font-size: 25px;
    color: #1da1f2;
}
#trendlist {
    list-style-type: none;
    margin-left: -25px;
}
#trendlist li p{
    margin-top: -10px;
    font-size: 13px;
    font-weight: lighter;
}
#trendlist li h4{
    margin-top: -17px;
}
#trendlist li h2{
    margin-top: -20px;
    font-size: 13px;
    font-weight: lighter;
}

a{
    margin: 20px;
    text-decoration: none;
    color: #1da1f2;
}